.test {
    background-image: linear-gradient(
        white, white,  rgba(118, 86, 183, 0.2), white
      );
}


.lead {
    font-size: 1.25rem;
    font-weight: 300;
  }

.fw-bolder {
    font-weight: bolder !important;
}


.fs-3 {
    font-size: 1.75rem !important;
}

.bg-image-full {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
}

.home-bg-image {
    background-image: url('../images/home_image_1.png');
}

.home-bg-image-test {
    background-image: url('../images/home_image_2.png');
    height: 20rem;
}