.second-header{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 30px;
}

.calender{
    display: flex;
}

.datepicker{
    margin-top: 5px;
    margin-left: 20px;
}

.poll-container{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    background-color: #F5E8F3;
    border-radius: 5px;
    padding: 10px;
    width: 80%;
}

.poll-title{
    width: 13%;
    /* background-color: rgb(192, 210, 238); */
    border-radius: 5px;
    padding-left: 3px;
}

.poll-name{
    font-size: larger;
    font-weight: bold;

}

/* Poll Create */
.form-poll{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 40px;
    gap: 20px;
}

.topic-desc{
    display: flex;
    justify-content: flex-start;
    
}
.field1{
    margin-left: 85px;
    font-size: 16px;
    width: 200%;
    
}

.field2{
    margin-left: 30px;
    width: 300%;
}

.pollname{
    margin-top: 5px;
}

.startend{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-bottom: 20px;
    width: 40%;
}

.settime{
    font-size: larger;
}

.btn-cont{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
}

.add-opt{
    display: flex;
    margin-left: 40px;
    margin-bottom: 20px;
}

.opt{
    margin-top: 10px;
}

.add-box{
    margin-left: 30px;
}

.option-list{
    margin-left: 150px;
    font-size: larger;
}
