.brand-test {
    display: flex;
    justify-content: center;
}

.brand {
    display: grid;
    grid-template-columns: 0.25fr 0.75fr;
    grid-gap: 10px;
}

.brand img {
    display: flex;
    max-height: auto;
    max-width: 35px;
}


