.App {
  text-align: center;
  height: 100%;
}

.app-grid-container {
  display: grid;
  grid-template-columns: 0.15fr 0.85fr;
  grid-gap: 2px;
  height:100%;
  width: 100%;
}

/* button */
.mybutton {
  color: white;
  background-color: #7656B7!important;
  border-color: #4C0070!important;
}

.mybutton:hover {
  color: white;
  background-color: #4C0070!important;
}


.mybutton-light {
  color: #4C0070;
  background-color: white!important;
  border-color: #4C0070!important;
}

.mybutton-light:hover {
  color: white;
  background-color: #4C0070!important;
}

